<ul class="nav nav-sidebar">
  <li><a routerLink="departments" routerLinkActive="active"><i class="fas fa-university"></i> Факультеты</a></li>
  <li><a routerLink="cathedras" routerLinkActive="active"><i class="fas fa-chalkboard-teacher"></i> Кафедры</a></li>
  <li><a routerLink="teachers" routerLinkActive="active"><i class="fas fa-user"></i> Преподователи</a></li>
  <li><a routerLink="subjects" routerLinkActive="active"><i class="fas fa-edit"></i> Предметы</a></li>
  <li><a routerLink="groups" routerLinkActive="active"><i class="fas fa-users"></i> Группы</a></li>
  <li><a routerLink="auditories" routerLinkActive="active"><i class="fas fa-chalkboard"></i> Аудитории</a></li>
  <li><a routerLink="timetable" routerLinkActive="active"><i class="fas fa-list"></i> Расписание</a></li>
  <li><a routerLink="key" routerLinkActive="active"><i class="fas fa-key"></i> Регистрационный ключ</a></li>
</ul>