<table class="table admin-page__table">
  <tr>
    <th>Аудитория</th>
    <th>Тип</th>
  </tr>
  <tr *ngFor="let auditory of auditories" routerLink="/admin/auditories/form" [queryParams]="{id: auditory.id}" class="admin-page__row">
    <td>{{ auditory.number }}</td>
    <td>{{ auditory.type }}</td>
  </tr>
</table>
<p class="total-count">{{ totalRows }} auditor{{ totalRows != 1 ? 'ies' : 'y'}} in total.</p>
<a class="btn btn-primary add-new" routerLink="/admin/auditories/form"><i class="fas fa-plus"></i> Добавить Аудиторию</a>
