<table class="table admin-page__table">
  <tr>
    <th>Название предмета</th>
  </tr>
  <tr *ngFor="let subject of subjects" routerLink="/admin/subjects/form" [queryParams]="{id: subject.id}" class="admin-page__row">
    <td>{{ subject.name }}( {{ subject.shortName }} )</td>
  </tr>
</table>
<p class="total-count">{{ totalRows }} subject{{ totalRows != 1 ? 's' : ''}} in total.</p>
<a class="btn btn-primary add-new" routerLink="/admin/subjects/form"><i class="fas fa-plus"></i> Добавить Предмет</a>
