<table class="table admin-page__table">
  <tr>
    <th>Преподаватель</th>
    <th>Должность</th>
    <th>Кафедра</th>
  </tr>
  <tr *ngFor="let teacher of results.teachers" routerLink="/admin/teachers/form" [queryParams]="{id: teacher.id}" class="admin-page__row">
    <td>{{ teacher.fullName }}</td>
    <td>{{ teacher.title }}</td>
    <td>{{ results.cathedras[teacher.cathedraID] }}</td>
  </tr>
</table>
<p class="total-count">{{ totalRows }} teacher{{ totalRows != 1 ? 's' : ''}} in total.</p>
<a class="btn btn-primary add-new" routerLink="/admin/teachers/form"><i class="fas fa-plus"></i> Добавить Преподавателя</a>
